*{/*Resetea los valores por defecto de los contenedores
    para poderlos ajustar a nuestro gusto y que la 
    funcionalidad no se vea afectada*/
    box-sizing: border-box;/*Ajusta automaticamente los valores*/
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(219, 219, 219);
}
.nav{
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    background-color: #E4ECFA;
}
.nav__item{
    display: inline-block;
}
.nav__item a{
    color:  #142691;
    font-size: 14px;
    padding: 70px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.nav__item a:hover{
    color: rgb(54, 152, 209);
}
.nav__item a:active{
    color: cadetblue;
}
.nav__icon a{
    color:  #142691;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.nav__icon a:hover{
    color: rgb(54, 152, 209);
}
.nav__icon a:active{
    color: cadetblue;
}

.menu{
    padding-top: 34px;
    padding-bottom: 62px;
    padding-left: 380px;
    padding-right: 0px;
    background-color: white;
    font-size: 12px;
}
.logo{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 200px;
    position: relative;
    background-color: white;
}

.menu ul,ol{
    list-style: none;
}
.men_nav li a{
    background-color: white;
    color: #1898FF;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}
.men_nav li ul a:hover{
    color: white;
    background-color: #1898FF;
}
.men_nav > li{
    float: left;
}
.men_nav li ul{
    display: none;
    position: absolute;
}
.men_nav li:hover > ul{
    display: block;
}
/*USAR JUSTIFY-CONTENT*/

