*{/*Resetea los valores por defecto de los contenedores
    para poderlos ajustar a nuestro gusto y que la 
    funcionalidad no se vea afectada*/
    box-sizing: border-box;/*Ajusta automaticamente los valores*/
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(219, 219, 219);
}
.nav{
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    background-color: #E4ECFA;
}
.nav__item{
    display: inline-block;
}
.nav__item a{
    color:  #142691;
    padding: 60px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.nav__item a:hover{
    color: rgb(54, 152, 209);
}
.nav__item a:active{
    color: cadetblue;
}
.nav__icon a{
    color:  #142691;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.nav__icon a:hover{
    color: rgb(54, 152, 209);
}
.nav__icon a:active{
    color: cadetblue;
}
.menu{
    display: flex;
    padding-top: 58px;
    padding-bottom: 58px;
    margin: 0px;
    color:#1573FF;
    background-color: #ffffff;
}
.men_item{
    display: inline-block;
}
.men_item a{
    color:  #142691;
    padding: 60px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.men_item a:hover{
    color: rgb(54, 152, 209);
}
.men_item a:active{
    color: cadetblue;
}
